

@{
    ViewData["Title"] = "Lista de Categorias";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>@ViewData["Title"]</h1>



<p>
    <a class="btn btn-info" asp-action="Create">Nova Categoria</a>
</p>



Teste
