@*@model MgMarmore.Site.Areas.Administracao.ViewModels.ProdutoViewModel
    @using MgMarmore.Site.Areas.Administracao.ViewModels*@
@model ProjetoMVC.App.Areas.Admin.ViewModels.MaterialViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
            <label asp-for="CategoriaProdutoId" class="control-label"></label>
            <select asp-for="CategoriaProdutoId" class="form-control" asp-items="ViewBag.CategoriaProdutoId"></select>
            <span asp-validation-for="CategoriaProdutoId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Imagem Atual</label><br />
                <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width: 70px; height: 100px" />
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Categorias">
                    <option value="">Selecione</option>
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label asp-for="AtreladoDolar" class="control-label"></label>
                    <input class="form-check-input" type="radio" name="AtreladoDolar" id="exampleRadios1" value="false" asp-for="AtreladoDolar" >Não
                    <input class="form-check-input" type="radio" name="AtreladoDolar" id="exampleRadios2" value="true" asp-for="AtreladoDolar">Sim
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>



            @*<div class="form-group">
            <label asp-for="TiposProdutos" class="control-label"></label>
            <select asp-for="TiposProdutos" class="form-control"></select>
            <span asp-validation-for="TiposProdutos" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />  |
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });
    </script>
}